{% extends "layout/layout.html" %}
{% block content %}
<div class="boarder">
    <!-- Main content of the webpage -->
        <h1>Greetings from BullTrack</h1>

    <p>Our platform for tracking job applications is the best resource for organizing your employment search.
        You can conveniently keep track of all your job applications, interviews, and offers on our user-friendly
        website in one handy location. Instead of using spreadsheets or paper files, you may enter all the crucial
        application information on our website
        and keep everything up to date and organized.</p>

    <p>One of the main advantages of using our website is that it gives you a thorough overview of how your job
        search is going.
        You can make reminders for follow-up emails or phone calls, monitor the status of your applications and
        interviews.
        By doing this, you never miss a chance to network with potential employers and raise your chances of landing
        a job.</p>

    <p>Anybody looking for work should use our website, as well as those who want to keep track of their
        applications and
        interviews for future use. It's a straightforward yet effective tool that can assist you in maintaining
        control over your
        job search and achieving your professional objectives.</p>

    <p>So what are you waiting for? Sign up for our job application tracking website today and exclusively three
        months free for USF Bulls,
        followed by $5/month and "$10/month" for everybody else. Use this program to take control of your job
        search!</p>

    </p>
    <!-- Table that consists of team members details and contribution  -->
   
    <table class="table1">
        <tbody>
            <tr>
                <th>Team Member</th>
                <th>Contribution</th>
            </tr>
            <tr>
                <td>
                    <img src="../static/images/anudeeplogo.jpg" alt="Anudeep K">
                    <br>
                    <a href="https://www.linkedin.com/in/naga-venkata-durga-anudeep-kolluru-b632a5199">Anudeep K
                    <br>
                    <a href="mailto:anudeep67@usf.edu">anudeepk@usf.edu</a>
                </td>
                <td>Anudeep, a graduate student at USF, offered helpful advice on how to test and identify mistakes. 
                    When the team encountered programming issues or other difficulties, he assisted us. 
                    The offers page was one of his contributions, and with respect to java script he handled all the 
                    functionalities in offers page where we have the option of either accepting or rejecting the offer.</td>

            </tr>
            <tr>
                <td>

                    <img src="../static/images/LokeshLogo.jpg" alt="Lokesh Anjaneya Pothana">
                    <br>
                    <a href="https://www.linkedin.com/in/lokesh-pothana-813a0a150/">Lokesh Anjaneya Pothana
                    <br>
                    <a href="mailto:lokeshanjaneya@usf.edu">lokeshanjaneya@usf.edu</a>
                </td>
                <td>The main programmer of this website is Lokesh, a graduate student at USF. 
                    Having worked as a website developer in the past, he was able to offer insightful advice on how to 
                    approach HTML development. The Events page, the IN-Process page, and the final CSS and design were his 
                    contributions, and with respect to java scripting he added functionality of adding and editing events, 
                    moving the events to in process page and vice versa. </td>
            </tr>
            <tr>
                <td>
                    <img src="../static/images/rajasekharlogo.jpg" alt="Rajashekar Reddy Patlori">
                    <br>
                    <a href="https://www.linkedin.com/in/rajashekar-26july1998/">Rajashekar Reddy Patlori</a><br>
                    <br>
                    <a href="mailto:patlori@usf.edu">patlori@usf.edu</a>
                </td>
                <td>Rajashekar, a graduate student at USF, was the key driver behind the group's progress. 
                    He was the one who pushed the team to finish projects on time and called meetings to ensure the team 
                    was headed in the right direction. He helped with the development of the Home and About Us pages, with 
                    respect to java scripting updated the home page as application starting page where we have the functionality 
                    of signing up and logging into the application.</td>
            </tr>
            <tr>
                <td>
                    <img src="../static/images/shishiralogo.jpg" alt="Shishira V Kasala">
                    <br>
                    <a href="https://www.linkedin.com/in/shishira-v-kasal">Shishira V Kasala</a><br>
                    <br>
                    <a href="mailto:shishira@usf.edu">shishira@usf.edu</a>
                </td>
                <td>Main</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    </div>
{% endblock content %}