{% extends "layout/base-2-col.html" %} {% block content %}


<table class="table table-striped" style="color: #A9B4AC;">
    <thead>
        <tr>
            <th scope="col">Company</th>
            <th scope="col">Job Role</th>
            {% if table == 'eventsdata' %}
            <th scope="col">Event</th>
            <th scope="col">Due Date</th>
            {% else %}
            <th scope="col">Applied On</th>
            <th scope="col">Location</th>
            <th scope="col">Salary</th>
            <th scope="col">Status</th>
            {% endif %}
            <th scope="col">Action</th>

    </thead>
    <tbody>
        {% for content in display %}
        <tr>
            <td scope="row">{{ content.company_name }}</td>
            <td>{{ content.job_role }}</td>
            {% if table == 'eventsdata' %}
            <td>{{ content.event_name }}</td>
            <td>{{ content.due_date }}</td>
            <td>
                <form action="{{ url_for('deleteJob', id=content.id, dataTable=table) }}" method="post">
                <button class="btn btn-danger" style="margin-left: 10px;"><img src="https://icons.getbootstrap.com/assets/icons/trash.svg"></button>
                </form>
            </td>
            {% else %}
            <td>{{ content.applied_on }}</td>
            <td>{{ content.location }}</td>
            <td>{{ content.salary }}</td>
            <td>
                <div class="row">
                    <!-- <div class="input-group-prepend"> -->
                    {% set color_class = {"IN_PROCESS": "btn-primary", "APPLIED": "btn-info", "OFFER": "btn-success", "REJECT": "btn-danger"}[content['job_status']] | default("btn-secondary") %}
                    <button class="btn {{ color_class }} dropdown-toggle" type="button" data-toggle="dropdown">{{ content.job_status }}</button>
                    <div class="dropdown-menu">
                        <p class="dropdown-item disabled">Change to</p>
                        <div role="separator" class="dropdown-divider"></div>
                        <form action="{{ url_for('updateJobStatus', dataTable=content.job_status, id=content.id, dataTableTargetValue = 'WISHLIST') }}" method="post">
                        <button class="dropdown-item btn-secondary">WISHLIST</button>
                        </form>
                        <form action="{{ url_for('updateJobStatus', dataTable=content.job_status, id=content.id, dataTableTargetValue = 'IN_PROCESS') }}" method="post">
                        <button class="dropdown-item">IN_PROCESS</button>
                        </form>
                        <form action="{{ url_for('updateJobStatus', dataTable=content.job_status, id=content.id, dataTableTargetValue = 'APPLIED') }}" method="post">
                        <button class="dropdown-item btn-info">APPLIED</button>
                        </form>
                        <form action="{{ url_for('updateJobStatus', dataTable=content.job_status, id=content.id, dataTableTargetValue = 'OFFER') }}" method="post">
                        <button class="dropdown-item btn-success">OFFER</button>
                        </form>
                    </div>
                    <!-- </div> -->
                </div>
            </td>
            <td>
                <form action="{{ url_for('deleteJob', id=content.id, dataTable=content.job_status) }}" method="post">
                <button class="btn btn-danger" style="margin-left: 10px;"><img src="https://icons.getbootstrap.com/assets/icons/trash.svg"></button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>localStorage.setItem('chartreload', '');</script>
{% endblock content %}